* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}